# Python
__pycache__/
*.py[cod]
**/__pycache__/
**/*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec
s
# Virtual environment
.venv/
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VS Code / PyCharm / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Coverage / testing
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

# Node / frontend builds (if using Next.js or npm)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
dist/
build/

# Ignore Claude config folder
.claude/

theme/static/css/dist/
node_modules/

logs/

docs/

debezium-setup/

migrations/

gunicorn.conf.py
